body {
    border:0;
    margin:0;
    font-family: 'Tinos',
        serif;
    display: flex;
    flex-direction: column;
}
/*Header*/
#header {
    background-color: #FAEBD7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Navigation*/
#nav {
    background-color: #B0C4DE;
    
}


/*Main content*/
main {
    background-color: #B0C4DE;
}
/*Footer*/
footer {
    background-color: #FAEBD7;
}