body {
    border: 0;
    margin: 0;
    font-family: 'Tinos',
        serif;

}

/*Navigation*/
#nav {
    background-color: #DEB887;
    padding: 10px;

}

/*Nav-links*/
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
    font-size: 20px;
}

#logo {
    margin-right: auto;
    font-size: 25px;

}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}

.nav-links a:hover {
    text-decoration: underline;
}


/*Header Section*/
#header {
    background-color: #FAEBD7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;


}

.image {
    flex: 1;
    padding: 20px;

}

.header-name {
    flex: 1;
    text-align: center;
    font-size: 25px;
    color: #008080;

}

.header-name p {
    color: #000000;
    font-weight: bold;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}


/*Main content*/
main {
    background-color: #B0C4DE;
}

/*Style About section*/
#about {
    padding: 20px;
    text-align: center;

}

#about h2 {
    font-size: 30px;
    color: #000080;
    margin-bottom: 10px;

}

#about h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.field-border {
    border: 2px groove #008080;
}

/*Offer Section*/
.offer {
    padding: 40px;
}

.offer h4 {
    letter-spacing: 1px;
}

.offer li {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 15px;


}



/*Style table section*/
.timetable {
    padding: 40px;
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;


}

th,
td {
    border: 2px groove #008080;
    padding: 5px;
}

/*Style sign Up section*/
#sign-up {
    background-color: #DEB887;
}

#sign-up h2 {

    font-size: 31px;
    color: #000080;
    text-align: center;
    margin-bottom: 23px;
    padding: 20px 0 0 0;

}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

}

.signup-form label {
    font-size: 20px;
    padding: 13px;
    margin-bottom: 10px;
}

.signup-form input {
    padding: 5px;
    width: 15%;
    border: 2px ridge #FFFFFF;
}

.signup-button {
    padding: 10px 14px;
    cursor: pointer;
    font-weight: bold;
    margin: 20px;
    background-color: #000080;
    color: #FFFFFF;
    border-radius: 50%;
    border: 1px double #FFFFFF;
}

.signup-button:hover {
    color: #FF0000;
}




/*Style footer section*/
#footer {
    background-color: #FAEBD7;
    padding: 30px ;
    text-align: center;



}

.contact-section {
    margin-bottom: 26px;
    font-size: 20px;
    letter-spacing: 1px;

}

.contact-section h2 {
    color: #000080;
}

.social-media a {
    text-decoration: none;
    color: #000080
}

.social-media ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0;


}

.social-media li {
    font-size: 30px;
}

.social-media a.youtube {
    color: #FF0000;

}

.social-media a.twitter {
    color: #000000;
}

.social-media a.instagram {
    color: #C71585;
}

/*Media query section (max-width: 768px)*/
@media(max-width: 768px) {
   
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        margin: 10px;
        letter-spacing: 1px;
    }

    #header {
        flex-direction: column;
    }

    .image {
        padding: 0;
    }

    .header-name {
        padding: 20px;
        font-size: 16px;
        
    }
    #about h3, .contact-section p {
      font-size:16px;
    }
        .signup-form input {
            width: 70%;
        }

}